.body{
	font-size:.75rem;
}



.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
}

.site-main {
	margin: 0 $size__site-sidebar 0 0;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

.infoLink {
	width:100%;
	display:block;
	color:black;
	text-decoration: none;
	&:hover {
		color:black;
		text-decoration: none;
	}
	&:visited {
		color:black;
	}
}

.Logo {
  font-size: 7em;
  text-align: center;
  display: block;
  margin: .2em 0;
  margin-top: .6em; }

@media screen and (max-height: 650px) {
	.Logo {
		font-size: 5em;
	}
}


.sidebar {
  flex-grow: 3;
  left: 0;
  background-color: white;
  height: 100vh;
  border-color: black;
  border-style: solid;
  border-width: thick;
  display: flex;
  flex-direction: column;
  width: 30vw;
  max-width: 500px;
  min-width: 330px; }

  .sidebarBlackout {
	  a.logolink{
		  transition: none;
		  color:white;
		  &:hover {
			  color:white;
		  }
		  &:visited {
			  color:white;
		  }
	  }
  	background: black;
  	color: white;
  	border-color: white;
	.hr {
		border-bottom-color: white;
	}
	.socialbox {
		background: white !important;
		color: black !important;
	}
  }

.justifyCenter {
	justify-content: center;
}

.clickArrow {
	display: none;
	position: fixed;
	top: 52px;
	right: 22px;
	font-weight: bold;
	transform: rotate(135deg);
	text-transform: uppercase;
}

.rotateBack {
	transform: rotate(315deg);
}

.fakeBottom {
	display: none;
	border-bottom-color: white;
border-bottom-style: solid;
position: fixed;
width: 100vw;
top: 86px;
left: 0;
}

.takeoverName {
	.name {
		display:block;
	}
}


.topFixed {
	position: fixed;
    top: 0;
}

.socialBlackout {
	background: white !important;
	color: black !important;
}


@media (min-width: 1800px) {
	.container {
	    width: 1760px;
	    max-width: 100%;
	}
}

@media screen and (min-width: 1600px) {
  .sidebar {
    flex-grow: 2; } }
.filterMain {
  margin-left: 2em;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3em; }

.hr {
  width: 90%;
  margin: 1em auto;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: .1em; }

.sidebarTakeover {
  display: none;
  font-size: 2em;
  font-weight: bold;
  margin: 2em;
  margin-left: 2em;
  flex-grow: 2;
  flex-direction: column;
  justify-content: flex-end; }

.dates {
  margin-left: 2.4em;
  margin-top: .5em;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .oneNight {
    margin: .5em 0;
	.nightType {
      font-size: 1.5em;
      font-weight: bold;
      display: block; }
    .date {
      font-size: 1.25em;
      font-weight: normal;
      display: block;
      font-family: "NeueLight", sans-serif; }
    .time {
      font-size: .9em;
      font-weight: normal;
      display: block; }
  	&:last-of-type {
    flex-grow: 1; }
}
  .eventLink {
    font-weight: bold;
    text-transform: uppercase; }
}

.socialLinks {
  margin: 2em;
  .socialbox {
    padding: 1em;
    background: black;
    color: white; }
}

@media screen and (max-width: 768px) {
	.clickArrow {
		display: block;
	}
  .Logo {
    font-size: 4em;
    margin: 0 .2em; }

  .sidebar {
	position: fixed;
    width: 100vw;
    z-index: 9999;
    height: 86px;
    flex-direction: row;
    max-width: 100%;
    min-width: 100%;
	}

  .mainArea{
    margin-top: 85px;
  }


  .filterMain {
    margin: 0; }

  .hr {
    display: none; }

  .dates {
    flex-flow: row;
    margin: 0;
    .oneNight {
      display: none; }
    .eventLink {
      width: 100px;
  	}
  }

  .socialLinks {
    display: none; }
}

@media screen and (max-height: 600px) {
	.clickArrow {
		display: block;
	}
  .Logo {
    font-size: 4em;
    margin: 0 .2em; }

  .sidebar {
	position: fixed;
    width: 100vw;
    z-index: 9999;
    height: 86px;
    flex-direction: row;
    max-width: 100%;
    min-width: 100%;
	}

  .mainArea{
    margin-top: 85px;
  }


  .filterMain {
    margin: 0; }

  .hr {
    display: none; }

  .dates {
    flex-flow: row;
    margin: 0;
    .oneNight {
      display: none; }
    .eventLink {
      width: 100px;
  	}
  }

  .socialLinks {
    display: none; }
}
