/* container for everything - incl sidebar and mainArea*/
.studentPage {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

body {
  font-family: "Neue", sans-serif; }

.projectTitle {
  font-family: "Neue";
  font-weight: Bold; }

.projectTitle {
  font-weight: 700;
  margin-bottom: .2rem; }

.studentSidebar .name {
  line-height: 1.2em; }

.studentSidebar .headshot {
  margin-top: 1em; }

a:visited {
  color: #999999; }

a:hover {
  color: #666666;
  text-decoration: none; }

@media screen and (max-width: 768px) {
  .studentPage {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column; } }

/* SIDEBAR */
.studentSidebar {
  margin: 0 auto;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .studentSidebar .name {
    font-weight: bold;
    display: block;
    font-size: 2em; }
  .studentSidebar .name:last-of-type {
    margin-bottom: 2em; }
  .studentSidebar .headshot {
    height: 30vh;
    display: block; }
  .studentSidebar .focus {
    display: block;
    font-weight: 700; }

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  .studentSidebar {
    margin: 0;
    margin-left: .4em; }
    .studentSidebar .name {
      line-height: 1.2em;
      font-weight: bold;
      display: block;
      font-size: 1.7em; }
    .studentSidebar .name:last-of-type {
      margin-bottom: 2em; }
    .studentSidebar .headshot {
      display: none; }
    .studentSidebar .focus {
      display: none; }
    .studentSidebar .website {
      display: none; }
  .projectTitle {
    margin-top: .6em; } }

/* class for each image row */
.imageGrid {
  margin-bottom: 3.5%; }

/* area outside of sidebar */
.mainArea {
  padding: 5%; }

/*.category {
  text-transform: uppercase;
}*/
hr {
  height: 1px;
  background-color: black; }

p.projectDescription {
  font-size: 12px !important;
  letter-spacing: 0.3px !important; }

.video {
  display: block;
  width: 100%;
  height: auto; }

.video p {
  display: none; }

iframe {
  min-width: 100%;
  min-height: 500px; }
