

/* container for everything - incl sidebar and mainArea*/
.studentPage {
display: flex;
}

body{
  font-family: "Neue", sans-serif;
}
.projectTitle {
  font-family: "Neue";
  font-weight: Bold;
}

.projectTitle{
  font-weight:700;
  margin-bottom: .2rem;
}


.projectSelector {
    position: absolute;
    right: 17px;
    top: 10px;
    padding: 15px;
    background-color: rgba(255,255,255,.8);
    .projectSelectorName {
        display: block;
        font-weight: bold;
        text-align: right;
        padding: 5px;
        font-size: 1.1em;
    }
}





@media screen and (max-width: 768px) {
.projectSelector {
    display: none;
}

  .studentPage {
    display: flex;
    flex-flow: column; } }

/* SIDEBAR */
.studentSidebar {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  .name {
    font-weight: bold;
    display: block;
    font-size: 2em; }
    .name:last-of-type {
      margin-bottom: 2em; }
  .headshot {
    height: 30vh;
    display: block; }
  .focus {
    display: block;
    font-weight: 400;
    font-size: 12px;
    }
    .socialSection{
        margin: 2em 0;
    }
    .socialIcon {
      padding: 1em;
      background: black;
      color: white;
      }
}

.studentSidebar .name {
    line-height: 1.2em;
    }

.studentSidebar .headshot{
  margin-top:1em;
}



/*Website Link Styling*/
.website{
  font-weight:700;
  margin: 7px 0 7px 0;
  font-size: 13px;
  letter-spacing: .035em;
}

a:hover{
  color:#666666;
  text-decoration:none;
}

a:visited{
  color:#999999;
}

a:hover{
  color:#666666;
  text-decoration:none;
}

a {
  color:#999999;
}

.projectDescription {
  p:last-of-type {
  margin-bottom:2.25em;
  }
}

.projectTitle{
  margin-top:100px;
  .first{
   margin-top:0px;
  }
}


/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  .studentSidebar {
    justify-content: flex-start;
    margin: 0;
    margin-left: .4em;
      .name {
        line-height: 1.2em;
        font-weight: bold;
        display: block;
        font-size: 1.7em; }
        .name:first-of-type {
            margin-top: .6em;
        }
        .name:last-of-type {
          margin-bottom: 2em; }
      .headshot {
        display: none; }
      .focus {
        display: none; }
      .website {
        display: none; }
        .socialSection {
            display:none;
        }
    }

   .projectTitle{
      margin-top: .6em;
   }

}

/* class for each image row */
.imageGrid {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

}


/* area outside of sidebar */
.mainArea {
  padding: 5%;
}

/*.category {
  text-transform: uppercase;
}*/


hr {
  height: 1px;
  background-color: black;
}

p.projectDescription {
  font-size: 12px!important;
  letter-spacing: .3px!important;
}


.video {
  display: block;
  width: 100%;
  height: auto;
}

.video p{
  display: none;
}

iframe {
  min-width: 100%;
  min-height: 500px;
}
