

/* container for everything - incl sidebar and mainArea*/
.studentPage {
display: flex;
}

@media screen and (max-width: 768px) {
  .studentPage {
    display: flex;
    flex-flow: column; } }

/* SIDEBAR */
.studentSidebar {
  margin: 0 auto;
  .name {
    font-weight: bold;
    display: block;
    font-size: 2em; }
    .name:last-of-type {
      margin-bottom: 2em; }
  .headshot {
    height: 25vh;
    display: block; }
  .focus {
    display: block; }
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  .studentSidebar {
    margin: 0;
    .name {
      font-weight: bold;
      display: block;
      font-size: 2em; }
      .name:last-of-type {
        margin-bottom: 2em; }
    .headshot {
      display: none; }
    .focus {
      display: none; }
    .website {
      display: none; }
  }
}

/* class for each image row */
.imageGrid {
  margin-bottom: 2%;
}


.projectTitle {
  font-family: sans-serif;
}

/* area outside of sidebar */
.mainArea {
  padding: 5%;
}

.category {
  text-transform: uppercase;
}

hr {
  height: 1px;
  background-color: black;
}

p.projectDescription {
  font-size: 12px!important;
  letter-spacing: .3px!important;
}


.video {
  display: block;
  width: 100%;
  height: auto;
}

.video p{
  display: none;
}

iframe {
  min-width: 100%;
  min-height: 500px;
}
