.eventSection {
    background: black;
    display:none;
}

.studentSection {
    display:none;
}

.searchButton {
    background-color: rgba(255, 255, 255, 0.7);
padding: 15px;
font-size: 1.3em;
font-weight: bold;
margin: 5px;
display: inline-block;
}

.search {
background-color: rgba(255, 255, 255, 0.7);
padding: 9px;
font-size: 1.3em;
font-weight: bold;
margin: 5px;
display: none;
}



.quicksearch{
    border:2px black solid !important;
    border-radius:0px !important;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}

input[type="text"]{
    padding: 4px;
    padding-left: 8px;
    padding-bottom: 3px;
}


.filterContainer {
    position: fixed;
    bottom: 20px;
    right: 0;
    .filterButton {
        background-color: rgba(255,255,255,.7);
        padding:15px;
        font-size: 1.3em;
        font-weight: bold;
        margin: 5px;
        display: inline-block;
    }
    .filterChoiceMain{
        transition: .5s transform;
        transform-style: preserve-3d;
        background-color: rgba(0,0,0,.9);
        color:white;
        padding:15px;
        font-size: 1.3em;
        font-weight: bold;
        display: none;
        margin: 5px;
    }
    .filterChoiceCont {
        perspective: 300px;
        display: inline-block;
    }
    .filterChoice {
        transition: .5s transform;
        transform-style: preserve-3d;
        background-color: rgba(0,0,0,.9);
        color:white;
        padding: 10px;
        font-size: 1em;
        font-weight: bold;
        display: inline-block;
        margin: 5px;
    }
    .photoButtonFilters {
        background-color: rgba(255,255,255,.9);
        display:none;
        position: relative;
            padding: 15px;
        bottom: 65px;
    }
    .designButtonFilters {
        background-color: rgba(255,255,255,.9);
            padding: 15px;
        display:none;
        position: relative;
        bottom: 65px;
    }
    .mainFilters {
        position: fixed;
        right:40px;
        bottom: 20px;
    }
}
