// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "about";

@import "primary/comments";



body {
	background: white;
	color: black;
	overflow: hidden
}

.homePage {
	display:flex;
	overflow: hidden;
}

.mainArea {
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	flex-grow: 2;
	display: flex;
	.scca-homepage-item {
		display: flex;
		justify-content: center;
		margin: 2em 0;
		.contentCenter {
			display: flex;
	    	flex-direction: column;
			img {
				max-height: 100%;
				width:auto;
			}
		}
	}
}

@media screen and (max-width: 768px) {
  body {
    overflow: visible; }

  .homePage {
    display: flex;
    overflow: visible;
    flex-flow: column; }

  .mainArea {
    height: 100vh;
    overflow-y: visible;
    overflow-x: visible;
    flex-grow: 2;
    display: flex;
    .scca-homepage-item {
      display: flex;
      justify-content: center;
      margin: 2em 0;
      .contentCenter {
        display: flex;
        flex-direction: column;
        img {
          max-height: 100%;
          width: auto; }
	  }
	  }
	  }
  }
