// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "about";

@import "primary/comments";



body {
	background: white;
	color: #fff;
	overflow: hidden
}

.homePage {
	display:flex;
	overflow: hidden;
}

.mainArea {
	height: 100vh;
	overflow: scroll;
}
