@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2jrsdt');
  src:  url('fonts/icomoon.eot?2jrsdt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2jrsdt') format('truetype'),
    url('fonts/icomoon.woff?2jrsdt') format('woff'),
    url('fonts/icomoon.svg?2jrsdt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinterest:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e909";
}
.icon-vimeo:before {
  content: "\e908";
}
.icon-tumblr:before {
  content: "\e907";
}
.icon-linkedin:before {
  content: "\e905";
}
.icon-arrow:before {
  content: "\e904";
}
.icon-port-logo_black-nockout-ps-full:before {
  content: "\e903";
}
.icon-logo_med:before {
  content: "\e903b";
  color: rgb(0, 0, 0);
}
.icon-logo_small:before {
  content: "\e903c";
}
